body{
    align-items: center;
}


h1{
    color: #545454;
    text-align: center;
}



.bowl{
    position: relative;
    height: 350px;
    width: 350px;
    background-image: url('img/bowl.png');
    opacity: 70%;
    

   
}

.goldfish{
    position:absolute;
    width: 70px;
    height: 50px;
    background-image:url('img/right.png');
    background-position: 35% 30%;
    top:200px;
    left: 150px;
    transition: top 4s ease, left 4s ease;
    
    /*animation-name: swimming;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    */
}

.goldfish.swim {
    background-position: 60% 30%;
}


@keyframes swimming {
    from {
        background-position: 35% 30%;
    }
    to {
        background-position: 60% 30%;
    }
}

button{
    font-size: 25px;

    color:#545454;
    

    border: 2px solid #e7e8e9;
    border-radius: 5px;

}

.buttons__wrapper{
    position:relative;
   
    width: 300px;
    height: 150px;

    
    margin: 0 auto;
    

}

button{
    position:absolute;
    border: 3px solid #545454;
    
}
.up{
    top:0px;
    left: 130px;
    padding: 5px 15px;
}
.down{
    top:100px;
    left: 130px;
    padding: 5px 15px;
}
.left{
    top:50px;
    left: 75px;
    padding: 5px 12px;

}
.right{
    top:50px;
    left: 185px;
    padding: 5px 12px;

}

.center{
    top:50px;
    left: 130px;
    padding: 20px 22px;

    background-color:#545454;
}